# будут проигнорированы файлы Thumbs.db
Thumbs.db

#будет проигнорирован файл .DS_Store
.DS_Store

#будут проигнорированы файлы в подкаталоге tmp
tmp/

#будут проигнорированы все файлы, заканчивающиеся суффиксом _old
_old

#будут проигнорированы все файлы, заканчивающиеся суффиксом _backup
_backup